html, body {
    margin: 0;
    padding: 0;
    width:100%;
    height: 100%;
    transition: background-color 200ms linear;
}

#upperSide{
    background-color: #E2314B;
    padding: 10px;
    transition: background-color 200ms linear;
}

#downside {
    padding-bottom: 200px;
}

/* main - logo */
#logo img {
    width: 185px;
    margin-bottom: 10px;
    transform: translateX(-40px);
}

#slide {
    width: 185px;
    margin: 30px auto;
    font-size: 14px;
    font-family: 'Josefin Sans', sans-serif;
}

#slide #logo {
    width: 130px;
    height: auto;
    font-size: 2em;
    margin: 20px;
    color: #eb6383;
    transition: .7s;
    text-decoration: none;
}

/*/ main - logo */


/* navbar*/
#toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#toggle::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 3px;
    background: #F7C72A;
    transform: translateY(-5px);
    transition: 0.2s;
}

#toggle::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 3px;
    background: #F7C72A;
    transform: translateY(5px);
    transition: 0.2s;
}

#toggle.active::before {
    transform: translateY(0px) rotate(45deg);
    background: #E2314B;
}

#toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
    background: #E2314B;

}

#sidebar {
    position: fixed;
    top: 0;
    transform: translateX(0px);
    right: -300px;
    width: 300px;
    height: 100vh;
    background: transparent;
    transition: 0.4s;
    z-index: 1;
}

#sidebar.active {
    transform: translateX(-300px);
}

#sidebar ul {
    position: relative;
    margin-top: 50px;
}

#sidebar ul li {
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 10px 40px;
}

#sidebar ul li a {
    color: #E2314B;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 2px;
}

.dropdown .dropbtn {
    color: #eb6383;
    font-size: 1.5em;
    border: none;
    outline: none;
    background-color: white;
    margin: -9px;
}

#sidebar ul li a:hover {
    color: #e2314b;
}

/*/ navbar*/

/* Carousel */
#carouselExampleControls {
    width: 800px;
    height: 500px;
    margin: 50px auto 10px auto;
}

iframe {
    width: 800px;
    height: 500px;
}

.carousel-inner {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    background-color: #F7C72A;
}

#prev-button {
    margin-left: -85px;
    filter: invert(100%);
}

#next-button {
    margin-right: -85px;
    filter: invert(100%);
}
/* Carousel */

/* Youtuber Link/ Thumbnail */
.channelImg {
    margin: 20px;
    border-radius: 50%;
}

#youtuber-div {
    background: linear-gradient(to bottom, #e2314b, #ffffff)
}

.youtuber{
    /* display: inline; */
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.youtuber a {
    text-decoration: none;
    color:black;
}

#author {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px 10px 30px 0px;
}

/* Comment section */

#main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comment-form {
    margin: 20px;
    color:black;
}

#comment-input {
    font-family: 'Prompt', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.input-group{
    width:800px !important;
}

#comment-section {
    font-family: 'Prompt', sans-serif;
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#comment-body {
    font-family: 'Nanum Gothic', sans-serif;
}

/* Comment section */


/*Footer*/
.wrapper {
    height: auto;
    min-height: 100%;
    padding-bottom: 280px;
    /* margin-bottom: 100px; */
}

.footer {
    position: relative;
    transform: translateY(-100%);
    font-family: 'NanumSquare', sans-serif;
    color: #262626;
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-top: 1px solid #bbb;
    background-color: #f7c72a;
}

.footer-logo{
    width:300px;
    height:185px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 60px;

}

.footer-logo-img{
    width:50% !important;
}

.footer-title {
    display: flex;
    padding: 20px;
    width: 400px;
    justify-content: space-evenly;
    margin-top:50px;
}

.footer-title-fst {
    display: flex;
}

.footer-contents {
    width: 100%;
    display: flex;
    margin-bottom: 40px;
    justify-content: space-evenly;
}


.footer-title-fst {
    display: flex;
}

.footer-contents {
    width: 650px;
    display: flex;
    margin-bottom: 40px;
    margin-right:92px;
    justify-content: space-between;
}

.poppinsFont{
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
}

.footer-fe-box {
    margin-top: 9px;
    margin-bottom: 2px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-bett-box{
    margin-top: 14px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.footer-be-box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-fe-box ul,
.footer-be-box ul {
    padding: 0;
    margin: 0;
}

.footer-name {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
}

.footer-name > ul {
    font-family: 'Nanum Gothic', sans-serif;
}

.fa-github,
.footer-about a {
    color: rgb(32, 32, 32);
}

.fa-github{
    margin-left: 10px;
}

.division{
    width:30px;
    height:1px;
    background-color: gray;
    margin-bottom: 10px;

}

.fa-github:hover {
    color: white;
}

.footer-copy2 {
    font-family: 'Prompt', sans-serif;
    font-size: 13px;
    margin-right: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}


.footer-searchbar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#quick-search{
    font-size: 15px;
    margin-top: 12px;
    width:150px;
    height: 35px;
}

#button-addon2 {
    margin-top: 13px;
    margin-left: 5px;
    width:60px;
    height: 34px;
    background-color: #e2314b;
    font-size: 15px;
    border: none;
    color:white;
}


.footer-about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer-about a {
    margin: 5px;
    color: #262626;
    font-family: 'Prompt', sans-serif;
}


.footer-img {
    width: 70px;
    height: 40px;
}

/*/Footer*/


/* Dark Mode */


.toggleBox {
    position: absolute;
    top: 35px;
    left: 10px;
}

.checkbox {
    opacity: 0;
    position: absolute;
    background-color: transparent;
}

.label {
    background-color: transparent;
    display: flex;
    border: 0.5px solid white;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    height: 26px;
    width: 50px;
    position: relative;
    transition: background-color 200ms linear;
}

.ball {
    background-color:#f7c72a;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 5px;
    transition: transform 0.2s linear;
}

.checkbox:checked
.fa-moon,
.fa-sun {
    color: orange
}

.dark {
    background-color: #181a26;
}

.toggleLable {
    background-color: transparent;
    color: orange
}

.toggleBall {
    transform: translateX(24px);
}

.toggleWhite {
    color: white;
}

.toggleBlack {
    color: black;
}