<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

    <!-- External CSS -->
    <link type="text/css" rel="stylesheet" href="../static/css/playlist.css">

    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <div id="upperSide">
            <div class="toggleBox"><input type="checkbox" class="checkbox" id="checkbox"><label for="checkbox"
                    class="label">
                    <i class="fas fa-moon"></i>
                    <i class="fas fa-sun"></i>
                    <div class="ball"></div>
                </label></div>
            <div id="slide"><a id="logo" href="/">
                    <img src="../static/img/logologo.png">
                </a></div>
            <div id="toggle"></div>
            <div id="sidebar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/user">Login</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="request.html">Request</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>

            <div id="carouselExampleControls" class="carousel slide" data-bs-interval="false">
                <div class="carousel-inner" id="carousel-inner">

                </div>
                <button id="prev-button" class="carousel-control-prev" type="button"
                    data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button id="next-button" class="carousel-control-next" type="button"
                    data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div id="main">
            <!-- Carousel that contains frames -->

            <div class="youtuber">
                <a href="#"><img id="author"
                        src="https://images.pexels.com/photos/127028/pexels-photo-127028.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"><span
                        id="authorName">CatTube</span></a>
            </div>

            <!-- Comment Posting Section -->
            <form id="comment-form">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Comment</label>
                    <textarea id="comment-textarea" class="form-control" id="exampleFormControlTextarea1" rows="1"
                        name="content"></textarea>
                    <button id="post-button" class="btn btn-primary mt-1" type="submit" onclick="postComment">post</button>
                </div>
            </form>

            <!-- Comments Sections -->
            <table id="comment-section" class="table table-borderless">
                <thead>
                    <tr>
                        <th class="col-md-2">Commentor</th>
                        <th class="col-md-8">Comment</th>
                    </tr>
                </thead>
                <tbody id="comment-body">
                </tbody>
            </table>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-title">
            <div class="footer-title-fst">
                <h1 id="2slideteam">2Slide Team</h1><span>with</span>
            </div>
            <div><img class="footer-img" src="https://spartacodingclub.kr/v5/icons/logo_v2.svg" /></div>
        </div>
        <div class="footer-contents">
            <div class="footer-fe-box">
                <h4>&lt; 프론트엔드 &gt;</h4>
                <div class="footer-name">
                    <ul>최준묵</ul>
                    <a href="https://github.com/dan-studio" target="_blank"><i
                            class="fa-brands fa-github fa-lg"></i></a>
                </div>
                <div class="footer-name">
                    <ul>노지애</ul>
                    <div><a href="https://github.com/jiaero" target="_blank"><i
                                class="fa-brands fa-github fa-lg"></i></a>
                    </div>
                </div>
                <div class="footer-name">
                    <ul>이현규</ul>
                    <icon><a href="https://github.com/darksilicon13" target="_blank"><i
                                class="fa-brands fa-github fa-lg"></i></a>
                    </icon>
                </div>
                <div class="footer-name">
                    <ul>이정민</ul>
                    <icon><a href="https://github.com/froggy1014" target="_blank"><i
                                class="fa-brands fa-github fa-lg"></i></a>
                    </icon>
                </div>
            </div>
            <div class="footer-be-box">
                <h4>&lt; 백엔드 &gt;</h4>
                <div class="footer-name">
                    <ul>전가영</ul>
                    <icon><a href="https://github.com/dsyhwk1016" target="_blank"><i
                                class="fa-brands fa-github fa-lg"></i></a>
                    </icon>
                </div>
                <div class="footer-name">
                    <ul>송기찬</ul>
                    <icon><a href="https://github.com/gichan-song" target="_blank"><i
                                class="fa-brands fa-github fa-lg"></i></a>
                    </icon>
                </div>
                <h4>&lt; 튜터 &gt;</h4>
                <div class="footer-name">
                    <ul>최영서</ul>
                    <icon><a href="https://github.com/tomatophobia" target="_blank"><i
                                class="fa-brands fa-github fa-lg"></i></a>
                    </icon>
                </div>
            </div>
            <div class="footer-searchbar">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Quick-Search" aria-label="Recipient's username"
                        aria-describedby="button-addon2" onkeyup="if(window.event.keyCode==13){youtube(this.value)}">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i
                            class="fa-brands fa-youtube"></i></button>
                </div>
                <div class="footer-about">
                    <a href="main.html">Home</a>
                    <a href="#">About</a>
                    <a href="https://www.notion.so/2-3be792a4fe0c40388a1474532f4c5328" target="_blank">Team Notion</a>
                    <a href="#"></a>
                    <a href="#"></a>
                </div>
            </div>
        </div>
        <div class="footer-copy">
            <p>Copyright © 2022 S2Slide Team. All rights reserved.</p>
        </div>
    </footer>
</body>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/movie?channel=" + localStorage.getItem('channel'),
            data: {},
            success: function (response) {
                console.log(localStorage.getItem('channel'))
                console.log(response['msg'][0]['videoId'])
                const carousel = document.getElementById("carousel-inner")
                length = response['msg'].length;
                for (let i = length - 1; i >= 0; i--) {
                    videoId = response['msg'][i]['videoId']
                    if (i === length - 1) {
                        temp_html = `<div class="carousel-item active">
      <iframe src="https://www.youtube.com/embed/${videoId}" title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
         allowfullscreen></iframe>
      </div>`;
                        $(carousel).append(temp_html);
                    } else {
                        temp_html = `<div class="carousel-item">
       <iframe src="https://www.youtube.com/embed/${videoId}" title="YouTube video player" frameborder="0"
           allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
       </div>`;
                        $(carousel).append(temp_html);
                    }
                };
            }
        })
    });
    $(document).ready(function () {
        const name = localStorage.getItem("channel")
        document.getElementById("author").src = sessionStorage.getItem('you');
        console.log(name)
        document.getElementById("authorName").innerHTML = name;
        
        showComment();
    });


    toggle.onclick = function () {
        toggle.classList.toggle('active');
        sidebar.classList.toggle('active');
    }
    document.onclick = function (e) {
        if (e.target.id !== 'sidebar' && e.target.id !== 'toggle') {
            toggle.classList.remove('active')
            sidebar.classList.remove('active')
        }
    }

    //comment section function

    

    function postComment() {

        const token = getCookie('token')

        let channel = localStorage.getItem('channel')
        let content = document.getElementById('comment-textarea').value
        let username = 'lee'

        $.ajax({
            type: "POST",
            url: '/comments/upload',
            headers: { 'Authorization': `Bearer ${token}` },
            data: {
                'videoId': channel,
                'content': content,
                'username': username
            },
            success: console.log('SUCCESS')
        })
    }

    function showComment() {
        let channel = localStorage.getItem('channel')
        alert(channel)
        $.ajax({
            type: "GET",
            url: '/comments/' + channel,
            data: {},
            success: function (response) {
                for (let i = 0; i < response.length; i++) {
                    let content = response[i]['content'];
                    let username = response[i]['username'];
                    let temp_html = `<tr>
                        <td class="col-md-2">${username}</td>
                        <td class="col-md-8">${content}</td>
                    </tr>`

                    $('#comment-body').append(temp_html)
                }
            }
        })
    }



    function getCookie(key) {
        var result = null;
        var cookie = document.cookie.split(';');
        cookie.some(function (item) {
            item = item.replace(' ', '');

            var dic = item.split('=');

            if (key === dic[0]) {
                result = dic[1];
                return true;
            }
        });
        return result;
    }


    //footer

    const searchbtn = document.getElementById("button-addon2");
    const searchinput = document.querySelector(".form-control");

    searchbtn.addEventListener('click', () => {
        youtube(searchinput.value);
    })

    function youtube(value) {
        if (!value) {
            window.open("https://www.youtube.com");
            return;
        }
        window.open("https://www.youtube.com/results?search_query=" + value);
        searchinput.value = "";
    }


    searchbtn.addEventListener("click", () => {
        const value = searchinput.value;
        youtube(value);
    });

</script>
<script src="../static/javascript/darkmode.js"></script>
<!-- <script src="../static/javascript/youtuber.js"></script> -->

</html>